* {
  scroll-behavior: smooth;
}
.App {
  min-height: 100vh;
  background-color: #0b0b0f;
  color: #fff;
  padding-top: 7vw;
  padding-bottom: 6rem;
}
.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  padding: 4px;
  color: #fff;
}
@media (max-width: 1000px) {
  .App {
    padding-top: 14vw;
  }

  .pageTitle {
    font-size: 6.2vw;
  }
}
